<div class="container">
  <h2>Descripción</h2>
  <h5>La aplicación de prueba a desarrollar consistirá en una única pantalla​ con un formulario desde el que se
  puedan dar de alta y editar clientes</h5>
  <h5>El formulario contará con los siguientes campos</h5>
  <ul>
    <li> Nombre completo (requerido)</li>
    <li> Email (requerido)</li>
    <li> Documento de identidad (requerido) (DNI, NIE o NIF válidos)</li>
    <li> Subscrito o no a la newsletter</li>
    <li> Tipo de captación: [telefónica | web | presencial] (requerido)</li>
    <li> Dirección</li>
    <li> Código Postal</li>
    <li> Región</li>
    <li> Ciudad</li>
    <li> País</li>
    <li> Observaciones</li>
  </ul>
  <h5>Se utilizarán los datos de email y documento de identidad como únicos en la base de datos. En el caso de
  que el usuario rellene uno de estos campos con un dato que ya se encuentre en la base de datos, se le
  ofrecerá la opción de recuperar los datos almacenados y realizar una edición de los mismos. En caso
  contrario se vaciará el formulario</h5>
  <h2>Requisitos técnicos</h2>
  <h5>Para realizar satisfactoriamente la prueba se deberán usar las siguientes tecnologías:</h5>
  <ul>
    <li> La API debería ser construida Express ​sobre NodeJS</li>
    <li> Los datos deberán guardarse en MongoDB y la conexión a la misma se hará mediante Moongose</li>
    <li> La interface deberá construirse usando Angular 5+</li>
    <li> La maquetación se realizará usando los componentes de Angular Material ​apoyándose en Angular​ Flex Layout ​para el responsive</li>
    <li> El código del proyecto deberá alojarse en github desde donde poder se desacargado y evaluado</li>
  </ul>

  <h2>Aspectos a evaluar</h2>
  <h5>Se tendrán en cuenta los siguientes aspectos a la hora de valorar el resultado final</h5>
  <ul>
    <li> Que el código sea limpio, estructurado y mantenible.</li>
    <li> Que el usuario disponga de una interfaz limpia y agradable, contando con la información necesaria en cada momento</li>
    <li> Incluir test tanto en la interfaz como en la api (con algún ejemplo sería suficiente)</li>
  </ul>

</div>
